<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kpu.oosoosoo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".connection.AWSAmplifyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OOSOOSOO"
        android:usesCleartextTraffic="true">
        <activity android:name=".search.SearchActivity"></activity>
        <activity
            android:name=".watcha.WatchaAddWishActivity"
            android:exported="false" />
        <activity android:name=".login.ConfirmSignUpActivity" />
        <activity
            android:name=".netflix.NetflixAddWishActivity"
            android:exported="false" />
        <activity
            android:name=".wavve.WavveWishesActivity"
            android:exported="false" />
        <activity
            android:name=".wavve.WavveWatchingActivity"
            android:exported="false" />
        <activity
            android:name=".watcha.WatchaWishesActivity"
            android:exported="false" />
        <activity
            android:name=".watcha.WatchaWatchingActivity"
            android:exported="false" />
        <activity
            android:name=".netflix.NetflixWatchingActivity"
            android:exported="false" />
        <activity android:name=".login.SignupActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".netflix.NetflixWishesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".contents.ContentsActivity" />
        <activity android:name=".login.InterworkingActivity" />
        <activity android:name=".login.SelectIwActivity" />
    </application>

</manifest>