<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kpu.oosoosoo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".connection.OOSOOSOOApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OOSOOSOO"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroAnimationActivity"
            android:exported="false"/>
        <activity android:name=".contents.ContentDetailActivity" />
        <activity android:name=".contents.RatingActivity"
                  android:theme="@style/Theme.OOSOOSOO.Dialog"/>
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".search.SearchActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".login.ConfirmSignUpActivity" />
        <activity android:name=".login.SignupActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.InterworkingActivity" />
        <activity android:name=".login.SelectIwActivity" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao8ce3019b12edf840a093214b167c96f4" />
            </intent-filter>
        </activity>
    </application>

</manifest>